* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}

body {
  background-color: #333;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.wrapper {
  width: 80%;
  margin: 20px auto;
}

ul {
  list-style: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

ul li {
  display: block;
  position: relative;
  font-size: 18px;
}

ul li div {
  padding: 50% 0;
  /* line-height: 0; */
  /* letter-spacing: 2px; */
  cursor: pointer;
}

li div.back {
  transform: rotateY(90deg);
}

li div.front {
  position: absolute;
  width: 100%;
}

li:hover div.front {
  animation: twirl 0.2s ease-in forwards;
}
li:hover div.back {
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

/* animation */

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(90deg);
  }
}
